@inherits LayoutComponentBase
<link href="/css/app.css" rel="stylesheet" />

<div class="page">
    <div class="main">
        <div class="topchick">
            <img class="logo" src="/css/media/logo.png" />
            <div class="homosexual">
                <img class="TitleMurphyVSeti" src="/css/media/title.png" />
                <img class="bottomtitle" src="/css/media/bottomtitle.png" />
            </div>
        </div>

        <div class="navigator">
            <button class="nav-btn">Мерч</button>
            <button class="nav-btn">О нас</button>
            <button class="nav-btn">Контакты</button>
        </div>

        <div class="content px-4">
            @Body
            <div class="btn-play-background">
                <a href="#play">
                    <img src="/css/media/btn_clickable.png" class="btn-play-clickable">
                </a>
            </div>
        </div>

        <img class="aquarium" src="/css/media/Aquarium.png">
    </div>
</div>