.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #28276D;
}

.bottomtitle {
    width: 32.5694444444vw;
    aspect-ratio: 8103 / 512;
    position: absolute;
    top: 60.5%;
    left: 12%;
}

.TitleMurphyVSeti {
    top: 3%;
    left: 11.5%;
    position: absolute;
    width: 48.194444444vw;
    aspect-ratio: 694.09 / 68.26;
}

.navigator {
    margin-inline: 33px;
    position: absolute;
    top: 100.75%;
}

body {
    background-image: url('media/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}



.topchick {
    font-family: 'InknutAntiqua', sans-serif;
    font-weight: 800;
    color: white;
    display: inline-block;
}

.main {
    flex: 1;
}

a:hover, a:active {
    text-decoration: none;
}

.logo {
    width: 9.23611111111vw;
    aspect-ratio: 133 / 149;
}


.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    display: flex;
    align-items: center;
}

@font-face {
    font-family: 'InknutAntiqua';
    src: url('fonts/InknutAntiqua.ttf') format('truetype');
}

.nav-btn {
    background-color: #FACECF;
    color: #28276D;
    width: 241px;
    height: 89px;
    border-radius: 34px;
    border: none;
    font-family: 'InknutAntiqua', sans-serif;
    font-weight: 800;
    line-height: 50%;
    font-size: 40px;
    text-align: center;
    margin-left: 33px;
    margin-right: 33px;
}

.centrim {
    display: inline-block;
}

.aquarium {
    position: absolute;
    top: 5%;
    right: 0;
    width: 41.25vw;
    aspect-ratio: 594 / 921;
}

.btn-play-background {
    background-image: image('/wwwroot/css/media/btn_background.png');
    width: 45vw;
    position: absolute;
    left: 9.68%;
    margin-top: 10px;
    aspect-ratio: 550 / 512;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-play-clickable {
    width: 22.5138888889vw;
    aspect-ratio: 1.1/1;
    margin-top: 32%;
    margin-left: 24.1%;
}

.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
